body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

body.dark-mode header {
  background-color: #1e1e1e;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
}

header h1 {
  margin: 0;
  padding-left: 6rem;
  color: #333;
}

body.dark-mode header h1 {
  color: #fff;
}

header #dark-mode-toggle {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  padding-right: 8.5rem;
}

#dark-mode-icon {
  margin-right: 8px;
}

#dark-mode-text {
  font-size: 16px;
  color: #333;
}

body.dark-mode #dark-mode-text {
  color: #fff;
}

.container {
  margin: 20px auto;
  padding: 20px;
  max-width: 1200px;
  border-radius: 5px;
  text-align: center;
}

.country-container {
  display: flex;
  align-items: center;
}

.country-flag {
  width: 40%;
  height: auto;
}

.country-details {
  width: 100%;
  text-align: center;
}

.country-details h2 {
  margin-top: 20px;
}

.text-point {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  justify-content: center;
  text-align-last: left;
}

.first-text-point {
  margin: 20px;
  text-align: center;
}

.second-text-point {
  margin: 20px;
  text-align: center;
}

.text-borders {
  text-align: left;
  justify-content: center;
  margin-left: 160px;
}

.border-country {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
}

body.dark-mode .border-country {
  border-color: #444;
  background-color: #2e2e2e;
}

a {
  text-decoration: none;
  color: inherit;
}

body.dark-mode a {
  color: inherit;
}

.back-button {
  margin-top: 150px;
  margin-left: 100px;
}

.back-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  padding: 10px;
  margin: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

body.dark-mode .back-button a {
  color: #fff;
  background-color: #1e1e1e;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
}

.back-button a:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.arrow {
  margin-right: 8px;
  font-size: 20px;
}

@media (max-width: 768px) {
  header h1 {
    padding-left: 1rem;
    font-size: 1rem;
  }

  header #dark-mode-toggle {
    padding-right: 0.3rem;
  }

  #dark-mode-text {
    font-size: 14px;
    margin-right: 20px;
  }

  #dark-mode-icon {
    width: 15px;
    height: 15px;
  }

  .country-container {
    display: inline;
    /* align-items: center; */
  }

  .country-details {
    width: 100%;
    text-align: left;
  }

  .country-details h2 {
    margin-left: 30px;
  }

  .country-flag {
    width: 80%;
    height: auto;
  }

  .text-point {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-content: flex-start;
    text-align-last: left;
  }

  .back-button a {
    width: 30%;
    padding: 10px;
    margin-top: -50px;
    margin-left: -80px;
  }

  .text-borders {
    text-align: left;
    margin-left: 20px;
  }

  .border-country {
    display: flex;
  }

  #borders {
    display: flex;
    flex-wrap: wrap;
    border: 0.5px #ccc;
    border-radius: 3px;
  }
}
